@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
    width: 100%;
    height: 100%;
    background-color: #134CC6;
    font-family: 'Bree Serif';
}

html {
    width: 100%;
    height: 100%;
}
.navbar {
    padding: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    background-color: #134CC6;
    color: #F3E1AD;
}

.top-nav-collapse {
    padding: 0;
}

.navbar.navbar-header.navbar-brand a {
    color: #F3E1AD;
    font-size: 150%;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: 50% 50% / cover;
    background-image: url("img/dolphin_ski.jpg");
}

.skitours {
    margin-bottom: 5%;
    height: 100%;
    width: 100%;
    background-color: #134CC6;
}


.boattours {
    height: 100%;
    background-color: #134CC6;
}
